<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker countries wise</h1>
    <hr class="my-4">

    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi maiores, vero doloremque unde error expedita eius adipisci ullam tenetur! Deleniti praesentium recusandae a nobis magnam, atque officiis architecto saepe quod!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque non voluptatibus molestias debitis, at reiciendis placeat delectus dicta saepe enim doloremque id temporibus iure quae eaque, voluptate earum, illo ducimus.</p>
</div>